
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
    font-family: liberation sans-serif;
    width: 100vw;
    height: 100vh;
}
main{
    width: 100vw;
    background-image: url(https://img.wallpapic-br.com/i9598-527-711/thumb/fotos-realistas-la-voie-maltee-cidade-quebec-imagem-de-fundo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}
header{
    width: 100vw;
    display: inline-block;
    padding: 0 3rem ;
    box-shadow: 0 5px 10px black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    
}

header nav{
    padding: 0;
    display: flex;
    backdrop-filter: blue(100px);
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    
}
header ul a{
    text-decoration: none;
    color: #fdfafa;
    padding: 0 2.0em;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.20em;
}
 nav ul li {
    position: relative;
    transition: 0.5s ease-in-out;
    padding: 0;
    margin: 0;
}
ul li:hover{
    transform: scale(1.25,1.25);
    transition: 0.5s ease-in-out;
}

header nav ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background-color: #fdfafa;
    transition: width 0.5s ease-in-out;
}

header nav ul li:hover::after {
    width: calc(100% - 4em);
}


.logo{
    position: relative;
    filter:drop-shadow(0 0 0.4em rgb(229,229,229));
    width: 15rem;
    height: 100px;

}
.name {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.name h1 {
    color:#fff;
    font-size: 3rem;
    margin: 0; 
}

.name .btn {
    align-self: flex-start; 
    margin-top: 4rem;
}
.texto{
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.texto{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4em;
    border-radius: 15px;
}
section{
    display: grid;
}
.section2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "h1 h1 h1"
                         "sobre-min sobre-min";
    background-color: #333;
}
.section2 h1{
    grid-area: h1;
}
.section2 .sobre-min{
    grid-area: sobre-min;
}
.section2 img{
    grid-area: img;
}
.section2 h2 {
    grid-area: h2;
}
footer{
    background-color: #333;
    color:#fcf8f8;
    padding: 1.5em;
    text-align: center;
}