* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Fira Sans', sans-serif;
    width: 100vw;
    height: 100vh;
}
main {
    position: relative;
    background-image: url(imagens/background-image.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    object-fit: cover;
    overflow: hidden;
    z-index: 0;
    height: 100vh;
}
.particles-js-canvas-el {
    position: absolute; 
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
}
header{
    position: relative;
    z-index: 3;
    width: 100%; 
    padding: 0 3rem ;
    box-shadow: 0 5px 10px black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    align-items: center;
}
header ul a{
    text-decoration: none;
    text-transform: uppercase;
    transition:0.5s ease-in-out;
    font-weight: 600;
    font-size: 1.3rem;
}
header nav {
    display: flex;
    justify-content: space-between;

}
nav ul{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li{
    display: inline-block
}
nav li a{
    display: inline-block;
    padding: 1rem 1rem;
    color: white;
}
nav li ul{
    position: absolute;
    display: flex;
    left: 0;
    top: 100%;
}
header li ul{
    position: absolute;
    display: none;
}
nav li:hover ul{
    display: block; 
}
nav li ul li {
    display: block;
}
nav li ul li a {
    display: block;
    color: white;
    text-decoration: none;
}
header ul a:hover{
    position: relative;
    color: rgb(219, 219, 2);
    filter:drop-shadow(0 0 0.1em #fdfbfb);
}
nav li:hover{
    transform: scale(1.25,1.25);
    transition: 0.5s ease-in-out;
}
header nav ul li {
    transition: 0.5s ease-in-out;
}
nav li:hover::after {
    content: '';
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: rgb(250, 250, 248);
    width: calc(100% - 2.5rem);
} 
.btn-abrir{
    display: none;
}
#btn-fechar {
    display: none;
}
.img{
    width: 20px;
    height: 15px;
    margin-right: 5px;
}
#baixar{
    transform: rotate(90deg);
}
.logo{
    position: relative;
    filter:drop-shadow(0 0 0.4em rgb(229,229,229));
    width: 20rem;
    height: 8rem;
    object-fit:  cover;   
}
@media screen and (400px <= width <= 991px) {
    header {
        position: relative;
        width: 100%;
        padding: 0 1.5rem 0  0;
    }
    #menu {
        position: relative;
        width: 60%;
        height: 100vh;
        display: none;
        background-color: gray;
    }
    .btn-abrir{
        display: block;
        width: 80px;
        align-items: start;
        justify-content: end;   
    }
    #btn-fechar {
        display: block;
        position: relative;
        top: 10px;
        left: calc(100% - 20%);
        cursor: pointer;
        font-size: 1.2rem;
    }    
    nav ul li {
        
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .logo {
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100px;
    }    
}
.name {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 10px;
}
.typewriter {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid transparent;
    font-size: 60px;
    font-weight: 600;
    font-family: 'Allura', cursive;
    color: #fdfcfc;
    animation: typing 5s steps(18, end)infinite, blink-caret 0.75s step-end infinite;
}
@keyframes typing {
      0% {
        width: 0;
      }
      100%{
        width: 450px;
      }
      50% {
        width: 0;
      }
}
@keyframes blink-caret {
      from,
      to {
        border-color:  transparent;
     }
      15% {
        border-color: white;
     }
}
.name h2{
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: white;  
}
.name .btn {   
    position: relative;
    background-color: rgb(219, 219, 2);
    width: 20vw;
    height: 90px;
    margin-top: 4rem;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    z-index: 4;
}
.btn:hover{
    transform: scale(1.10,1.10);
    transition: 0.5s ease-in-out;
    box-shadow: 2px 2px 5px;
    opacity: 1;
}
.texto{
    position: relative;
    width: 50%;
    display: flex;
    font-size: 1.4em;
    align-items: center;
    color: white;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow:
        -1px -1px 0 #000, 
        1px -1px 0 #000,
        -1px 1px 0 #000, 
        1px 1px 0 #000;
}
@media screen and (400px <= width <= 991px) {
    .section1 {
        flex-direction: column;
        width: 100%;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2px;
    }
    .name .btn {
        position: relative;
        margin-top: 15%;
        width: 50vw;
        height: 90px;

    }
    .texto{
        width:calc(100vw - 10%);
    }
    
} 
.section2 {
    position: relative;
    background-color: #f1f1e6;
    text-decoration: none;
    padding-bottom: 2rem;
    overflow: hidden;
}

.section2 .about-ul {
    display: flex;
    justify-content: center;
}
.section2 ul a {
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
    font-weight: 400;
    font-size: 1.1rem;
    color: rgb(219, 219, 2);
}
.sobre-mim {
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}
.about {
    position: relative;
    width: 100vw;
    margin: 0 8%;
    padding: 2rem;
    background-color: rgb(40, 56, 101);
    border-radius: 20px 0 20px 0;
    box-shadow: 10px 10px 15px 0 black;
    transition:0.5s ease-in-out;
}
.about:hover {
    background: linear-gradient( #4CAF50, #2196F3);
    color: black;
    transform: scale(1.05);
}
.section2 h2 {
    display: block;
    font-size: 6rem;
    text-align: center;
    letter-spacing: 8px;
    color: #14151a;
    text-shadow: -6px 1px 0px #cecb09, -12px 4px 5px black;
    background-color: transparent;
}
.about h3 {
    font-family: 'Allura', cursive;
    font-size: 4rem;
    font-weight: 600;
    margin: 10px;
    padding: 10px;
}
.about .web-dev {
    font-size: 1.2rem;
}
.about ul {
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 1% 5% 1% 5%;
}
.section2 p {
    position: relative;
    padding: 10px;
    letter-spacing: 3px;
    width: 80%;
    font-weight: 800;
    text-transform: uppercase;
}
.profile-picture {
    position: relative;
    width: 400px;
    height: auto;
    margin: 8%;
    object-fit: cover;
}
@media screen and (400px <= width <= 991px) {
    .sobre-mim{
        position: relative;
        width: 100vw;
        flex-direction: column;
    }
    .about {
        width: 80vw;
        margin: 10% 5%;
        padding: 0.5rem;
    }
    .about h3 {
        font-size: 4rem;
    }
    .about p,
    .about p {
        font-size: 0.9rem;
    }
    .about-ul {
        flex-direction: column;
    }
    .profile-picture {
        position: relative;
        width: 400px;
        height: 300px;
        margin: 8%;
        object-fit: cover;
    }
}
.section3{
    display: flex;
    flex-wrap: wrap ;
    margin:4rem 0 4rem 0;
    width: 100%;
    text-align: center;
    justify-content: space-around;      
}
.container {
    position: relative;
    flex: 1;
}
.section3:hover {
    cursor: pointer;  
    overflow-x: scroll;
}
.overlay {
    position: relative;
    display: none;
    height: auto;
    margin: 20%;
    padding: 50px;
    background: linear-gradient(45deg, #4CAF50, #2196F3);
    color: black;
    border-radius:0 0 8px 8px;
    box-shadow: 0 5px 6px 3px black; 
    padding: 20px;
    text-align: center; 
    justify-content: center;
}
.container:hover .overlay  {
    display: inline-block;
}
.container:hover .tecs{
    margin: 1rem;
    transform: scale(1.2);
    filter: drop-shadow(0 0 0.4em rgb(3, 3, 3));
    transition: 1s ease;
}
@media screen and (400px <= width <= 991px){
    .section3{
        display: flex;
        flex-wrap: nowrap ;
        margin:4rem 0 4rem 0;
        text-align: center;
        justify-content: space-between;
           
    }
    .overlay{
        width: 100vw;
        overflow: hidden;
        align-items: center;
    }
}
footer{
    position: relative;
    padding: 10px;
    background-color: #615252;
    color:#fcf8f8;
    text-align: center;
}